<%- include('../../partials/header.ejs') %>
<%- include('../../partials/navbar.ejs') %>

<div class="container">
  <hr>
  <h2>Usuários</h2>
  <a class="btn btn-success" href="/admin/users/create">Criar novo usuário</a>
  <hr>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>ID</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <% users.forEach(user => { %>
        <tr>
          <th><%= user.id %></th>
          <th><%= user.email %></th>
          <th>
            <!-- <a class="btn btn-warning" href="/admin/categories/edit/<%= user.id %>">Editar</a> -->
            <form method="POST" action="/users/delete" style="display: inline;" onsubmit="confirmDelete(event, this)">
              <input type="hidden" name="id" value="<%= user.id %>">
              <button class="btn btn-danger">Excluir</button>
            </form>
          </th>
        </tr>
      <% }) %>
    </tbody>
  </table>
</div>

<%- include ('../../partials/footer.ejs') %>

<script>
  function confirmDelete(event, form) {
    event.preventDefault()
    var decisionDeleteCategory = confirm('Você realmente deseja deletar este usuário?')

    if (decisionDeleteCategory) {
      form.submit()
    }
  }
</script>